:host {
    position: relative;

    slot:not([name]) {
        display: inline-block;
    }

    slot[name=menu] {
        position: absolute;
        z-index: 1000;
        display: none;
        padding: 0;
        border: 0;
        min-width: fit-content;

        .dropdown-menu {
            display: block;
            position: relative;
        }
    }

}